.booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1024px;
  margin: auto;

  .back-button {
    width: 100%;
    margin: 30px;
    border-bottom: solid 1px #7f6e47;

    input {
      padding: 12px 0;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .booking-info {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    width: 100%;

    .movie-cover {
      background-image: url("./images/movie-cover-background.png");
      background-repeat: no-repeat;
      width: 140px;
    }

    .movie-info {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .movie-name {
        font-size: 24px;
        color: #f1e3c2;
      }

      .movie-info-icons {
        display: flex;
        gap: 8px;

        img {
          width: 40px;
        }

        .movie-type {
          color: #b0b0b0;
        }
      }

      .movie-details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: center;
        font-size: 18px;
        color: #f1e3c2;

        .movie-details-cell {
          padding: 12px 60px;
          background-color: #101010;
          border: 1px solid #3e3e3e;

          &:not(:last-child) {
            border-right: none;
          }

          span {
            color: #8e8e8e;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .booking-step {
    margin: 30px;
  }

  .seat-choices {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .seat-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      .seat-image {
        margin-bottom: 10px;
      }

      .seat-name {
        font-size: 18px;
        color: #8e8e8e;
      }

      .seat-price {
        font-size: 22px;
        color: #f1e3c2;
      }

      .seat-amount {
        display: flex;
        align-items: center;
        margin-top: 20px;

        .subtract-button,
        .add-button {
          transition: opacity 0.5s ease;

          &:hover {
            opacity: 0.5;
          }
        }

        .amount-display {
          background-image: url("./images/bg-seat-input.png");
          padding: 6px 25px;
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }

  .alert-box {
    .alert-content {
      padding: 30px 210px;
      background-color: #f6eeda;
      background-image: url("./images/icon-alert-small.png");
      background-repeat: no-repeat;
      background-position: 175px 34px;
    }
  }

  .seat-position {
    display: flex;
    flex-direction: column;

    .seat-set {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .seat-row {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        .seat-pair {
          display: flex;

          .seat {
            display: flex;
            flex-direction: column;
            align-items: center;

            .seat-name {
              color: #f1e3c2;
              font-size: 18px;

              &.occupied {
                color: #8e8e8e;
              }
            }
          }
        }

        .arrow {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px 30px;
          background-repeat: no-repeat;
          font-size: 18px;
          color: #8e8e8e;

          &.left {
            background-image: url("./images/theater-nav-left.png");
            background-position: 20px center;
            margin-right: 200px;
          }

          &.right {
            background-image: url("./images/theater-nav-right.png");
            background-position: 16px center;
            margin-left: 200px;
          }
        }
      }
    }

    .seat-summary {
      display: grid;
      align-items: center;
      margin-top: 50px;

      .seat-info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        color: #8e8e8e;
        font-size: 18px;

        .seat-info-item {
          padding: 12px 60px;
          background-color: #101010;
          border: 1px solid #3e3e3e;

          span {
            color: #f1e3c2;
          }
        }
      }
    }
  }

  .confirm-booking {
    .confirm-title {
      text-align: center;
      margin: 50px;
    }

    .confirm-input {
      display: flex;
      flex-direction: column;
      align-items: center;

      .input-container {
        position: relative;

        .input-box {
          width: 330px;
          height: 45px;
          background-repeat: no-repeat;
          margin: 10px;
          border-radius: 4px;
          text-indent: 56px;
          font-size: 20px;
          font-family: "Mongolian Baiti Regular";
          color: #8e8e8e;

          &::placeholder {
            font-size: 18px;
            opacity: 1;
          }

          &:focus::placeholder {
            opacity: 0.6;
          }

          &.invalid {
            border-color: red;
          }
        }

        .error-message {
          position: absolute;
          top: -18px;
          left: 161px;
          color: white;
          background-color: rgba(0, 0, 0, 0.8);
          border: 1px solid #8e8e8e;
          border-radius: 10px;
          padding: 10px 20px;
        }

        #name {
          background-image: url("./images/bg-reserve-input-name.png");
        }

        #email {
          background-image: url("./images/bg-reserve-input-email.png");
        }

        #phone {
          background-image: url("./images/bg-reserve-input-phone.png");
        }
      }

      label {
        color: #f1e3c2;
        font-size: 18px;
        span {
          margin-left: 6px;
        }
      }

      #reserve {
        margin-top: 20px;
        transition: opacity 0.5s ease;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }

  .bottom-button {
    display: flex;
    justify-content: center;
    width: 1024px;
    height: auto;
    margin: 70px auto 40px;
    background-image: url("./images/bg-seat-bottom.png");
    background-repeat: no-repeat;

    input {
      transition: opacity 0.5s ease;
      position: relative;
      top: 20px;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid #3d3d3d;
    background-color: #0f0f0f;
    padding: 30px 50px;

    .confirm-title {
      width: 1050px;
      padding-bottom: 10px;
      border-bottom: 1px solid #3d3d3d;
      text-align: center;
    }

    .confirm-movie-info {
      display: flex;
      justify-content: space-around;
      gap: 30px;
      width: 1010px;
      padding: 50px 20px;
      border-bottom: 1px solid #3d3d3d;

      .movie-cover {
        background-image: url("./images/movie-cover-background.png");
        background-repeat: no-repeat;
        width: 140px;
      }

      .movie-info {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;

        .movie-information {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .movie-name {
            font-size: 24px;
            color: #f1e3c2;
          }

          .movie-info-icons {
            display: flex;
            gap: 8px;

            img {
              width: 40px;
            }

            .movie-type {
              color: #b0b0b0;
            }
          }
        }

        .movie-details {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 20px 0px;
          font-size: 18px;
          color: #f1e3c2;

          .movie-details-cell {
            span {
              color: #8e8e8e;
              margin-right: 5px;
            }

            &:nth-child(5) {
              grid-column: span 2;
            }
          }
        }
      }
    }

    .confirm-bottom {
      display: flex;
      flex-direction: column;
      margin-top: 40px;

      .qr-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: black;
        border: 1px solid #3d3d3d;
        padding: 7px 7px 0;
        margin: auto;

        img {
          width: 240px;
        }

        .qr-subtitle {
          font-size: 24px;
          color: #f1e3c2;
        }
      }

      .warning-messages {
        margin: 30px auto 60px;
        color: red;
        font-size: 18px;
        text-align: center;
      }
    }
  }
}
