.booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1024px;
  margin: auto;

  .back-button {
    width: 100%;
    margin: 30px;
    border-bottom: solid 1px #7f6e47;

    input {
      padding: 12px 0;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .booking-info {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    width: 100%;

    .movie-cover {
      background-image: url("./images/movie-cover-background.png");
      background-repeat: no-repeat;
      width: 140px;
    }

    .movie-info {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .movie-name {
        font-size: 24px;
        color: #f1e3c2;
      }

      .movie-info-icons {
        display: flex;
        gap: 8px;

        img {
          width: 40px;
        }

        .movie-type {
          color: #b0b0b0;
        }
      }

      .movie-details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: center;
        font-size: 18px;
        color: #f1e3c2;

        .movie-details-cell {
          padding: 12px 60px;
          background-color: #101010;
          border: 1px solid #3e3e3e;

          &:not(:last-child) {
            border-right: none;
          }

          span {
            color: #8e8e8e;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .booking-step {
    margin: 30px;
  }

  .seat-choices {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .seat-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      .seat-image {
        margin-bottom: 10px;
      }

      .seat-name {
        font-size: 18px;
        color: #8e8e8e;
      }

      .seat-price {
        font-size: 22px;
        color: #f1e3c2;
      }

      .seat-amount {
        display: flex;
        align-items: center;
        margin-top: 20px;

        .subtract-button,
        .add-button {
          transition: opacity 0.5s ease;

          &:hover {
            opacity: 0.5;
          }
        }

        .amount-display {
          background-image: url("./images/bg-seat-input.png");
          padding: 6px 25px;
          font-size: 20px;
          text-align: center;
        }
      }
    }
  }

  .next-button {
    display: flex;
    justify-content: center;
    width: 1024px;
    height: auto;
    margin: 70px auto 40px;
    background-image: url("./images/bg-seat-bottom.png");
    background-repeat: no-repeat;

    input {
      transition: opacity 0.5s ease;
      position: relative;
      top: 20px;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .alert-box {
    .alert-content {
      padding: 30px 210px;
      background-color: #f6eeda;
      background-image: url("./images/icon-alert-small.png");
      background-repeat: no-repeat;
      background-position: 175px 34px;
    }
  }

  .seat-row {
    display: flex;
    justify-content: center;

    .seat-pair {
      display: flex;
    }
  }
}
