.booking-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1024px;
  margin: auto;

  .back-button {
    width: 100%;
    margin: 30px;
    border-bottom: solid 1px #7f6e47;

    input {
      padding: 12px 0;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .booking-info {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    width: 100%;

    .movie-cover {
      background-image: url("./images/movie-cover-background.png");
      background-repeat: no-repeat;
      width: 140px;
    }

    .movie-info {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .movie-name {
        font-size: 24px;
        color: #f1e3c2;
      }

      .movie-info-icons {
        display: flex;
        gap: 8px;

        img {
          width: 40px;
        }

        .movie-type {
          color: #b0b0b0;
        }
      }

      .movie-details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        text-align: center;
        font-size: 18px;
        color: #f1e3c2;

        .movie-details-cell {
          padding: 12px 60px;
          background-color: #101010;
          border: 1px solid #3e3e3e;

          &:not(:last-child) {
            border-right: none;
          }

          span {
            color: #8e8e8e;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
