.feature-shows {
  display: flex;
  flex-direction: column;

  .feature-shows-title {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    color: #c1ad80;
    background-image: url("./images/today-show.png");
    background-repeat: no-repeat;
    background-position: center center;
    margin: 24px 0px 6px;
  }

  .feature-shows-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .feature-shows-container {
      display: flex;
      justify-content: space-between;
      gap: 170px;
      background-image: url("./images/line-bottom-show-today.png");
      background-repeat: no-repeat;
      background-position: center bottom;
      padding: 20px 0 50px;

      .feature-show-block {
        display: flex;
        gap: 20px;

        .movie-cover-link {
          img {
            width: 140px;
            height: 210px;
          }
        }

        .movie-info {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .movie-name {
            font-size: 24px;
            color: #f1e3c2;
          }

          .movie-time {
            display: flex;
            align-items: center;
            gap: 8px;

            .movie-length {
              font-size: 18px;
              color: #8e8e8e;
            }
          }

          .movie-info-icons {
            display: flex;
            gap: 8px;

            img {
              width: 40px;
            }
          }
        }
      }

      .screen-time-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
        color: white;
        gap: 2px;
        width: 600px;
        position: relative;
        top: 30px;

        .screen-time-box {
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: default;
          position: relative;
          transition: opacity 0.5s ease;
          padding-bottom: 30px;

          .hall-type {
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            width: 50px;
            height: 36px;
            top: -30px;
          }

          .screen-time {
            background-repeat: no-repeat;
            background-position: center;
            font-size: 20px;
            padding: 15px 20px;
          }

          .movie-type {
            color: #b0b0b0;
          }

          &:hover {
            opacity: 0.5;
          }
        }

        #past {
          .hall-type {
            opacity: 0.5;
          }

          .screen-time {
            background-image: url("./images/time-past.png");
            color: #5f5f5f;
          }

          .movie-type {
            color: #5f5f5f;
          }
        }

        #current {
          .screen-time {
            background-image: url("./images/time-present.png");
            color: black;
          }
        }

        #future {
          .screen-time {
            background-image: url("./images/time-future.png");
            color: #f1e3c2;
          }
        }
      }
    }
  }

  #message-box {
    font-size: 15px;
    padding: 4px 8px;
    color: black;
    background-color: #f1e3c2;
    transition: opacity 1s ease;
  }

  #message-box.show {
    opacity: 1;
  }
}
