.react-multi-carousel-list {
  margin: 0 auto;
  position: relative;
  width: 1024px;
  margin-top: 20px;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);

  @media only screen and (max-width: 1100px) {
    width: initial;
    margin-top: 64px;
  }

  .react-multi-carousel-item {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
    }
  }

  .custom-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.6;
    }

    &.left {
      left: 1%;
    }

    &.right {
      right: 1%;
    }
  }
}
