$button-position: 435px;

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  position: relative;

  .banner {
    width: 1024px;
    box-shadow: 0 0 30px 15px rgba(0, 0, 0, 0.5);
  }

  .carousel-control {
    a {
      position: absolute;
      top: 135px;
      transition: opacity 0.3s ease;

      &:hover {
        opacity: 0.6;
      }
    }

    .button-previous {
      left: $button-position;
    }

    .button-next {
      right: $button-position;
    }
  }
}
