.seat-position {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (max-width: 1100px) {
    margin-top: 30px;
  }

  .theater-screen {
    width: 100%;
  }

  .seat-set {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media only screen and (max-width: 1100px) {
      gap: 10px;
      align-items: center;
    }

    @media only screen and (max-width: 500px) {
      transform: scale(0.7) translateY(-80px);
      width: 375px;
    }

    .seat-row {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      @media only screen and (max-width: 1100px) {
        gap: 10px;
      }

      .seat-pair {
        display: flex;

        .seat {
          display: flex;
          flex-direction: column;
          align-items: center;

          .seat-name {
            color: #f1e3c2;
            font-size: 18px;

            &.occupied {
              color: #8e8e8e;
            }
          }
        }
      }

      .arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 30px;
        background-repeat: no-repeat;
        font-size: 18px;
        color: #8e8e8e;

        @media only screen and (max-width: 1100px) {
          display: none;
        }

        &.left {
          background-image: url("./images/theater-nav-left.png");
          background-position: 20px center;
          margin-right: 200px;
        }

        &.right {
          background-image: url("./images/theater-nav-right.png");
          background-position: 16px center;
          margin-left: 200px;
        }
      }
    }

    #preview-box {
      padding: 4px 4px;
      background-color: #ddaf7f;
      transition: opacity 1s ease;
    }

    #preview-box.show {
      opacity: 1;
    }
  }

  .seat-summary {
    display: grid;
    align-items: center;
    margin-top: 50px;

    @media only screen and (max-width: 500px) {
      margin-top: initial;
      position: relative;
      bottom: 80px;
    }

    .seat-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;

      .seat-info-item {
        padding: 12px 60px;
        background-color: #101010;
        border: 1px solid #3e3e3e;
        font-size: 18px;
        color: #8e8e8e;

        @media only screen and (max-width: 1100px) {
          padding: 12px 12px;
        }

        span {
          color: #f1e3c2;
        }
      }
    }
  }
}
